body {
    font-family: sans-serif;
    display: flex;
    flex-flow: row wrap;
    background: #dddfe3;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    color: var(--text);
  }
  
  li {
    margin-top: 10px;
    border: 1px solid grey;
  }
  ul {
    padding: 0;
    list-style: none;
    background: #f2f2f2;
  }
  